# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\vue项目\周琪vue\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
